/build
/libs
/src/androidTest
/src/test
/src/main/res/mipmap-anydpi-v26
/src/main/res/mipmap-hdpi
/src/main/res/mipmap-mdpi
/src/main/res/mipmap-xhdpi
/src/main/res/mipmap-xxhdpi
/src/main/res/mipmap-xxxhdpi
app.iml
build.gradle
proguard-rules.pro